VITE_APP_TITLE=New Tujjors
VITE_APP_SUBTITLE=Minimal product sell page
VITE_APP_CURRENCY=so'm

VITE_SD_API_URL=https://your-server-domain/api/v2/
VITE_SD_READ_HTTP_METHOD=POST
VITE_SD_FILIAL_ID=0

VITE_SD_USER_ID=
VITE_SD_TOKEN=
VITE_SD_LOGIN=
VITE_SD_PASSWORD=

VITE_SD_TRADE_CS_ID=
VITE_SD_TRADE_SD_ID=
VITE_SD_TRADE_CODE_1C=

VITE_SD_PRICE_TYPE_CS_ID=
VITE_SD_PRICE_TYPE_SD_ID=
VITE_SD_PRICE_TYPE_CODE_1C=

VITE_SD_ORDER_CLIENT_CS_ID=
VITE_SD_ORDER_CLIENT_SD_ID=
VITE_SD_ORDER_CLIENT_CODE_1C=

VITE_SD_ORDER_AGENT_CS_ID=
VITE_SD_ORDER_AGENT_SD_ID=
VITE_SD_ORDER_AGENT_CODE_1C=

VITE_SD_ORDER_WAREHOUSE_CS_ID=
VITE_SD_ORDER_WAREHOUSE_SD_ID=
VITE_SD_ORDER_WAREHOUSE_CODE_1C=
