VITE_APP_TITLE=New Tujjors
VITE_APP_SUBTITLE=Minimal product sell page
VITE_APP_CURRENCY=som
VITE_API_BASE_URL=http://localhost:3000
VITE_SALESDOC_ASSET_BASE_URL=https://villobuhara.salesdoc.io
SALESDOC_BASE_URL=https://villobuhara.salesdoc.io/api/v2/
SALESDOC_PRICE_TYPE_ID=d0_2
SALESDOC_LOGIN=
SALESDOC_PASSWORD=
